$primary: #0085ff;
$secondary: #99abc9;
$success: #3ac84c;
$info: #8568d2;
$warning: #ff8e00;
$danger: #f43535;
$dark: #22232d;
$light: #d6dce6;

$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default; //BS
